.board-row {
    display: flex;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
  }
  